.navbar{ 
  border: 1px solid black;
  background-color: rgb(218, 150,218);
  padding-bottom: 8px;
  font-size: 16px;
  padding: 5px;
}


#inicio, #lei, #tipos, #ciclo, #ajuda, #contato{
  border: thin solid rgba(0,0,0,0.0);
  text-align: center;
  color: white;
}

h1{
  padding: 0px 10px 10px 0px;
}

#inicio{
  /*height: 70vh;*/
  background-color: rgb(54, 11, 54);
  padding: 50px 10px 50px 10px;
  
}

#lei{
  background-color: rgb(82, 17, 82);
  padding: 50px 10px 50px 10px;
}

#tipos{
  background-color:rgb(114, 29, 114);
  padding: 50px 10px 50px 10px;
}

#ciclo{
  background-color: rgb(164, 67, 164);
  padding: 50px 10px 50px 10px;
}

#ajuda{
  background-color: rgb(196, 112, 196);
  padding: 50px 10px 50px 10px;
}

#contato{
  height: 100vh;
  background-color: rgb(234, 168, 234); 
  color: black;
  padding: 20px 10px 50px 10px;
}

footer{
  padding: 10px; 
  background-color: rgb(54, 11, 54);
  text-align: center;
  color: white;
}

footer a{
  color: #fff;
}

footer a:hover{
  color: rgb(92, 180, 252);
}

footer ul li {
  display: inline-block;  /* Coloca os itens de uma lista na horizontal */
  padding: 0 12px;
  border-right: 2px solid #ffffff;
}

h2{
  padding: 30px 10px 30px 10px;
}

.texto{
  text-align: justify;
  background-color: white;
  color: black;
  font-size: large;
  margin-right: 25%;
  margin-left: 25%; 
  padding: 30px;
}

.texto h2{
  text-align: center;
  color: crimson;
}

.texto1{
  text-align: justify;
  color: white;
  font-size: large;
  margin-right: 25%;
  margin-left: 25%;
  padding: 30px;
}

.texto1 h3{
  padding-top: 30px;
  text-align: center;
}

/*botão denuncie*/
.denuncie{
  display: block;
  padding: 1vh;
  transition: 0.2s;
  position: fixed;
  text-decoration: none;
  text-align: center;  
  border-radius: 4px;
  bottom: 75vh;  
  font-weight: bolder;
  background-color: red;
  font-size: 1.5rem;
  right: 5vw;
}

.denuncie a{
  color: white;
}

.denuncie:hover{
  background-color: pink;
}

.denuncie a:hover{
  color: black;
}

/* botão topo, só aparece em telas menores*/
.topo{
  display: block;
  padding: 0.7vh;
  transition: 0.2s;
  position: fixed;
  text-decoration: none;
  text-align: center;  
  border-radius: 4px;
  bottom: 5vh;  
  left: 5vw;
  font-weight: bold;
  background-color: gray;
  font-size: 1rem;
  display: none;
}

.topo a{
  color: blue;
}

.topo:hover{
  background-color: blue;
}

.topo a:hover{
  color: gray;
}

/*Configurações do aside (menu lateral esquerdo)*/

.aside a{
  display: block;
  position: fixed;
  left: -5.1vw;
  transition: 0.2s;
  padding: 2vh;
  width: 6vw;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 0 15px 15px 0;  
  text-align: left;   
}


.aside a:hover{
  text-align: right;
  left: 0;
  color: white;
}

#inicio2{
  top: 20vh;
  background-color: blue;
}

#lei2{
  top: 28vh;
  background-color: rgb(10, 105, 7);
}

#tipos2{
  top: 36vh;
  background-color: rgb(136, 55, 1);
}

#ciclo2{
  top: 44vh;
  background-color: rgb(172, 13, 87);
}

#ajuda2{
  top: 52vh;
  background-color: rgb(230, 29, 186);
}

#contato2{
  top: 60vh;
  background-color: rgb(255, 0, 0);
}

#conteudo{
  text-align: left;
  font-weight: bold;
}


/* Regras para larguras específicas de tela */
@media screen and (max-width: 1200px) {  /* Breakpoint (ponto de quebra) */
  .aside{
    display: none;
  }

  .topo{
    display: unset;
  }
}

@media screen and (max-width: 1020px) {  /* Breakpoint (ponto de quebra) */
  .denuncie{
    bottom: 5vh;
  }

  .texto{
    margin-right: 5%;
    margin-left: 5%; 
  }
  
  .texto1{
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .texto1 h3{
    padding-top: 30px;
  }
}